<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Домашняя страница</title>
    <link rel="stylesheet" href="/static/css/styles.css" />
    <link rel="stylesheet" href="/static/css/calendar.css" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css" rel="stylesheet">
</head>
<body>
    <div class="dashboard">
        <aside class="sidebar">
            <div class="sidebar-section">
                <p class="sidebar-title">User</p>
                <p class="sidebar-title">Status</p>
            </div>

            <nav class="sidebar-nav">
                <button class="nav-btn" id="nav-home"><i class="ri-home-line"></i> <span class="label">Home</span></button>
                <button class="nav-btn" id="nav-profile"><i class="ri-user-line"></i> <span class="label">Profile</span></button>
                <button class="nav-btn" id="nav-options"><i class="ri-settings-3-line"></i> <span class="label">Options</span></button>
                <button class="nav-btn" id="nav-meals"><i class="ri-restaurant-line"></i> <span class="label">Meals</span></button>
                <button class="nav-btn" id="nav-training"><i class="ri-run-line"></i> <span class="label">Training</span></button>
              </nav>
              
              <div class="sidebar-bottom">
                <button class="nav-btn logout-btn" id="logoutBtn">
                  <i class="ri-logout-box-r-line"></i> <span class="label">Logout</span>
                </button>
              </div>              
        </aside>

        <main class="main-content">
          <div class="calendar">
            <div class="calendar-header">
              <span class="calendar-prev" id="prevMonth">
                <i class="ri-arrow-left-s-line"></i>
              </span>
              <span class="calendar-title" id="monthDisplay">Апрель 2025</span>
              <span class="calendar-next" id="nextMonth">
                <i class="ri-arrow-right-s-line"></i>
              </span>
            </div>
        
            <div class="calendar-body">
              <div class="calendar-container" id="calendarDays">
                
              </div>
        
              <div class="calendar-sidebar" id="calendarSidebar">
                <h2 id="selectedDate">Сегодня</h2>
        
                <div class="calendar-section">
                  <h3>Питание</h3>
                  <ul id="mealList" class="calendar-list"></ul>
                  <button id="addMealBtn" class="add-btn">
                    <i class="ri-add-line"></i> Добавить еду
                  </button>
                </div>
        
                <div class="calendar-section">
                  <h3>Тренировки</h3>
                  <ul id="trainingList" class="calendar-list"></ul>
                  <button id="addTrainingBtn" class="add-btn">
                    <i class="ri-add-line"></i> Добавить тренировку
                  </button>
                </div>
              </div>
            </div>
          </div>
        </main>
                
    </div>
    <script src="/static/js/sidebar.js"></script>
    <script type="module" src="/static/js/home/home.js"></script>
    <script type="module" src="/static/js/home/calendar.js"></script>
</body>
</html>