<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Домашняя страница</title>
    <link rel="stylesheet" href="/static/css/styles.css" />
    <link rel="stylesheet" href="/static/css/calendar.css" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css" rel="stylesheet">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
</head>
<body>
    <div class="dashboard">
        <aside class="sidebar">
            <div class="sidebar-section">
                <p class="sidebar-title">User</p>
                <p class="sidebar-title">Status</p>
            </div>

            <nav class="sidebar-nav">
                <button class="nav-btn" id="nav-home"><i class="ri-home-line"></i> <span class="label">Home</span></button>
                <button class="nav-btn" id="nav-profile"><i class="ri-user-line"></i> <span class="label">Profile</span></button>
                <button class="nav-btn" id="nav-options"><i class="ri-settings-3-line"></i> <span class="label">Options</span></button>
                <button class="nav-btn" id="nav-meals"><i class="ri-restaurant-line"></i> <span class="label">Meals</span></button>
                <button class="nav-btn" id="nav-training"><i class="ri-run-line"></i> <span class="label">Training</span></button>
              </nav>
              
              <div class="sidebar-bottom">
                <button class="nav-btn logout-btn" id="logoutBtn">
                  <i class="ri-logout-box-r-line"></i> <span class="label">Logout</span>
                </button>
              </div>              
        </aside>

        <main class="main-content">
          <div class="container">
            <div class="left">
              <div class="calendar">
                <div class="month">
                  <i class="fas fa-angle-left prev"></i>
                  <div class="date">december 2015</div>
                  <i class="fas fa-angle-right next"></i>
                </div>
                <div class="weekdays">
                  <div>Sun</div>
                  <div>Mon</div>
                  <div>Tue</div>
                  <div>Wed</div>
                  <div>Thu</div>
                  <div>Fri</div>
                  <div>Sat</div>
                </div>
                <div class="days"></div>
                <div class="goto-today">
                  <div class="goto">
                    <input type="text" placeholder="mm/yyyy" class="date-input" />
                    <button class="goto-btn">Go</button>
                  </div>
                  <button class="today-btn">Today</button>
                </div>
              </div>
            </div>
            <div class="right">
              <div class="today-date">
                <div class="event-day">wed</div>
                <div class="event-date">12th december 2022</div>
              </div>
              <div class="events"></div>
              <div class="add-event-wrapper">
                <div class="add-event-header">
                  <div class="title">Add Event</div>
                  <i class="fas fa-times close"></i>
                </div>
                <div class="add-event-body">
                  <div class="add-event-input">
                    <input type="text" placeholder="Event Name" class="event-name" />
                  </div>
                  <div class="add-event-input">
                    <input type="text" placeholder="Event Time From" class="event-time-from" />
                  </div>
                  <div class="add-event-input">
                    <input type="text" placeholder="Event Time To" class="event-time-to" />
                  </div>
                </div>
                <div class="add-event-footer">
                  <button class="add-event-btn">Add Event</button>
                </div>
              </div>
            </div>
            <button class="add-event">
              <i class="fas fa-plus"></i>
            </button>
          </div>
        </main>
                
    </div>
    <script src="/static/js/sidebar.js"></script>
    <script type="module" src="/static/js/home/home.js"></script>
    <script type="module" src="/static/js/home/calendar.js"></script>
</body>
</html>