<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Главная страница</title>
  <link rel="icon" href="favicon.ico">
  <link rel="icon" type="image/png" href="/static/images/favicon.png">
  <link rel="stylesheet" href="/static/css/styles.css" />
  <link href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css" rel="stylesheet"/>
</head>
<body>
    
  <main id="start-screen" class="start-container">

    <div class="character-layout">
      <img src="/static/images/fitness-guy-pink.png" class="home-character flipped" alt="Слева" />

      <div class="start-card">
        <h1 class="welcome-text">Приветствуем тебя!</h1>
        <p class="start-subtext">
          Если ты ещё не зарегистрирован, начни с короткого опроса — это поможет нам подобрать тебе персональный план
        </p>
        <button id="startQuizBtn" class="quiz-btn">Пройти опрос</button>
        <p class="start-login-hint">Уже есть аккаунт? Просто войди <i class="ri-arrow-down-line"></i></p>
      </div>

      <img src="/static/images/fitness-guy-orange.png" class="home-character" alt="Справа" />
    </div>

  </main>

  <script type="module" src="/static/js/main.js"></script>
</body>
</html>
