<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>

    <main id="start-screen">
        <h1 class="welcome-text">Добро пожаловать! <br> Начните свой путь к лучшей версии себя</h1>
        <button id="startQuizBtn" class="quiz-btn">Пройти опросник</button>
    </main>

    <script type="module" src="../static/js/main.js"></script>
</body>
</html>
